<!doctype html>
<html>

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
    </head>

  <body>

    <div class='container-fluid mt-2 p-3'>

    <div class ='row'>
    
    <div class ='col-4'>

    </div>

    <div class='mr-auto col-4'>
    <form  class='form' action="/">
        <label class='form-label' for="handle">Handle</label><br>
        <input class ='form-control' type="text" id="handle" name="handle" value="{{handle}}"><br>
        <input class='btn btn-primary' type="submit" value="Submit">
      </form>
    </div>
    </div>


    <div class ='d-flex justify-content-center py-2'>
    
    
            <h1> Solve Details For {{handle}}</h1>

</div>

    <div class='ml-4'>
    
    <div class = 'row'>
        <div class='col-lg-6 col-sm-12'>
            <h4> Solved By Tags </h4>
        <table class ='table table-striped table-border col-5'>
            <tr>    
                <th>
                    Tags
                </th>
            <th>
                Solved
            </th>
            </tr>

            {%for x in solved_by_tag.keys()%}

            <tr>    
                <th>
                    {{x}}
                </th>
            <td>
                {{solved_by_tag[x]}}
            </td>
            </tr>

            {%endfor%}

        </table>
    </div>

    <div class='col-lg-6 col-sm-12'>
        <h4> Solved By Rating </h4>
        <table class ='table table-striped table-border'>
            <tr>    
                <th>
                    Rating
                </th>
            <th>
                Solved
            </th>
            </tr>

            {%for x in solved_by_rating.keys()%}

            <tr>    
                <th>
                    {{x}}
                </th>
            <td>
                {{solved_by_rating[x]}}
            </td>
            </tr>

            {%endfor%}

            



        </table>
    </div>
</div>
    </div>   
    </div>

    </div>
    
  </body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>